.overview-tab{
    display: flex;
    padding: 25px 20px 10px 45px;
    font-size: 25px;
    font: bolder;
}

.drop-down{
    background-color: rgb(255,255,255);
    border-style: solid;
    border-color: rgb(240,240,240);
    margin-left: 37em;
    padding: 2px;
    border-radius: 10px;
}

.content-1{
    display: flex;
}

.content-2{
    display: grid;
    padding: 30px 20em 30px 50px;
    background-color: white;
}

.content-3{
    display: grid;
    padding: 30px 22em 30px 15em;
    background-color: white;
}

.search-bar2{
    background-color: white;
    margin-left: 4%;
    outline: none;
    border-color: rgb(240,240,240);
    border-style: solid;
    padding: 5px;
    font-size: 20px;
}

.sortbar{
    background-color: white;
    outline: none;
    border-color: rgb(240,240,240);
    border-style: solid;
    padding: 5px;
    font-size: 20px;
    margin-left: 36%;
}

.downloadbar{
    margin-left: 2%;
    background-color: white;
    border-color: rgb(240,240,240);
    border-style: solid;
    padding: 5px;
    align-items: center;
}

.orderID{
    background-color: rgb(240,240,240);
    display: flex;
    padding: 10px;
}